@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    background-color: #D5D9E0;
}

.App{
    margin: auto;
    align-items: center;
}